
@{
    ViewBag.Title = "Beneficio";
}

<section class="well well4">

    <div class="container center991 hover08">
        <h2>
            Nossos
            <small>
                Benéficios
            </small>
        </h2>
        <div class="row offs3">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="thumbnail thumb-shadow">
                    <img src="~/Imagens/Pharmacy.jpg" />
                    <div class="caption bg3 capt_hover1">
                        <h3>
                            Convênio
                        </h3>
                        <div class="wrap">
                            <p>
                                A Sábino Farma conta com um super sistema de Convênio Empresarial, onde os funcionários das empresas conveniadas tem vantagens exclusivas.                            </p>
                            <a href="/Home/Convenio" class="btn-link fa-angle-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="thumbnail thumb-shadow">
                    <img src="~/Imagens/banner_farmácia_popular1-840x420.png" />
                    <div class="caption bg3 capt_hover1">
                        <h3>
                          Fármacia Popular
                        </h3>
                        <div class="wrap">
                            <p >
                                Este espaço destina-se a atender o usuário do Programa Farmácia Popular, fornecendo informações e tirando dúvidas sobre o funcionamento do Programa.                            </p>
                            <a href="/Home/FarmaciaPopular" class="btn-link fa-angle-right"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail thumb-shadow">

                    <img src="~/Imagens/pmn.jpg" />
                    <div class="caption bg3 capt_hover1">
                        <h3>
                                 PBM
                        </h3>
                        <div class="wrap">
                            <p>
                                Conheça as possibilidades de ter benefícios na compra de seus medicamentos (PBM):
                            </p>
                            <a href="/Home/PBM" class="btn-link fa-angle-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail thumb-shadow">
                    <img src="~/Imagens/generico.jpg" />
                    <div class="caption bg3 capt_hover1">
                        <h3>
                            Genéricos
                        </h3>
                        <div class="wrap">
                            <p>
                                Váriados tipos de medicamentos Genéricos para atende-lo.
                            </p>
                            <a href="/Home/Generico" class="btn-link fa-angle-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail thumb-shadow">

                    <img  src="~/Imagens/quem-precisa-medir-a-pressão.jpg" />    
                    <div class="caption bg3 capt_hover1">
                        <h3>
                            Atendimento ao Cliente
                        </h3>
                        <div class="wrap">
                            <p>
                                Para melhor atender nossos clientes, oferecemos alguns cuidados para sua saúde como medição de pressão.
                            </p>
                            <a href="#" class="btn-link fa-angle-right"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
