
<main>
    <section class="well well4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="wow fadeInLeft " data-wow-duration='1.5s'>
                        Convênio para
                        <small>
                            Empresa
                        </small>
                    </h2>
                    <div class="box">
                        <div class="box-icon">
                            <small class="fa fa-handshake-o fa-lg " aria-hidden="true"></small>
                        </div>
                        <div class="row">
                            <div class="col-md-6 info wow fadeInLeft " data-wow-duration='4s'>

                                <h4 class="text-center">Sobre Convênio</h4>
                                <br />
                                <p>
                                    A Drogaria <strong>Sabino Farma</strong> conta com um super sistema de <strong>Convênio Empresarial</strong>, onde os funcionários das empresas conveniadas tem vantagens exclusicas, que vão da venda para desconto em folha a descontos nas compras de produtos para nossa loja fisíca do Caiçara e no serviço delivery.
                                </p>
                            </div>
                            <div class="col-md-6 info wow fadeInRight " data-wow-duration='6s'>
                                <h4 class="text-center">Como fazer parte destas vantagens?</h4>
                                <p>Se a sua empresa ainda não faz parte do <strong> Convênio Empresarial</strong>, entre em contato conosco para obter maiores informações, e solicitar essa grande vantagem para seus funcionários e colaboradores. E o melhor, para ser conveniado não gera custo nenhum! <br />Venha seja nosso cliente.</p>
                                <a href="tel:+552835213191" class="btn">Ligue: (28) 3521-3191</a>
                                <a href="intent://send/+5528999405577#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="btn hidden-lg hidden-md" title="Whatsapp"><i class="fa fa-whatsapp"></i></a>
                                <a href="mailto:sabinofarma@hotmail.com" class="btn">Email: sabinofarma@hotmail.com</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>


