
@{
    ViewBag.Title = "Duvidas";
}

<main>
    <section class="well well4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>
                        Tire suas
                        <small>
                            Dúvidas
                        </small>
                    </h2>

                    <div class="row">
                        <div class="box">
                            <div class="box-icon">
                                <small class="fa fa-question-circle-o" aria-hidden="true"></small>
                            </div>
                            <div class="row">
                                <div class="col-md-6 info">

                                    <h4 class="text-center">Dúvidas Frequentes</h4>
                                    <br />
                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Tarja vermelha com retenção da receita
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            Medicamentos que exigem controle nas suas vendas. Podem levar o paciente à dependência do medicamento e a sérios efeitos colaterais. Na tarja vermelha está impresso o seguinte texto: “Só pode ser vendido com retenção da receita”.
                                        </div>
                                    </div>

                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Tarja preta, com retenção da receita
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            Medicamentos em cujas embalagens vem impresso “O abuso deste medicamento pode causar dependência” ou “Venda sob prescrição médica, sujeito à retenção de receita”.
                                        </div>
                                    </div>

                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Sujeitos à Receita de Controle Especial (impresso idêntico ao da receita simples, só que em duas vias)
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            Especial (impresso idêntico ao da receita simples, só que em duas vias). Usada para prescrição do medicamento das listas C1 (controle especial), C4 (antirretrovias) e C5 (anabolizantes), que possuem a tarja de cor vermelha com os dizeres “Venda sob prescrição médica: só pode ser vendido com retenção de receita” e para os quais é exigido rigoroso controle de retenção da receita médica.
                                        </div>
                                    </div>

                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Notificações de receita A e B
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            Impressas em papel especial, nas cores amarela (A) e azul (B) e que devem ser acompanhadas da receita simples, pois a notificação ficará retida na farmácia e a receita simples será o comprovante do paciente por estar portando medicamento sujeito ao controle especial.
                                        </div>
                                    </div>

                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Tarja vermelha - antibióticos
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            Apresentação da receita, para compra dos antibióticos regulados pela legislação. Retenção da segunda via.
                                        </div>
                                    </div>
                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Medicamentos de referência (ou de marca)
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            São medicamentos registrados na Agência Nacional de Vigilância Sanitária (Anvisa) e comercializados no país, cuja eficácia e qualidade foram comprovadas cientificamente por ocasião do registro. Este medicamento pode servir de padrão de cópia após a expiração do prazo de patente, para a produção de medicamentos genéricos, similares e alternativas farmacêuticas. São produtos inovadores, resultantes de anos de pesquisa e protegidos pela lei de patentes.
                                            Esses medicamentos possuem nomes comerciais dados pelos fabricantes.
                                        </div>
                                    </div>

                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Medicamentos genéricos
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            São medicamentos copiados de um produto de referência e pretendem ser com este intercambiável. São produzidos após a expiração de direitos de exclusividade. Contêm a mesma substância ativa, concentração de dose, esquema posológico, apresentação e efeito farmacológico e passam por testes de bioequivalência e biodisponibilidade. Tem em sua embalagem a inscrição “Medicamento genérico – Lei 9.787/99”.
                                        </div>
                                    </div>
                                    <div class="panel panel-duvida">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Medicamentos similares
                                            </h3>
                                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                                        </div>
                                        <div class="panel-body">
                                            Medicamentos similares: aqueles que contêm o mesmo ou os mesmos princípios ativos e apresentam concentração, forma farmacêutica, via de administração, posologia e indicação (terapêutica, preventiva ou diagnóstica) idênticas às do medicamento de referência registrado no órgão federal responsável pela vigilância sanitária. Pode diferir somente em características relativas a tamanho e forma do produto, prazo de validade, embalagem, rotulagem, excipientes e veículos, devendo sempre ser identificado por nome comercial ou marca
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 info">
                                    <h4 class="text-center">Sua dúvida não foi tirada?</h4>
                                    <p>Entre em contato conosco e solucione suas dúvidas, com melhores profissionais do mercado farmceutico.  Pois prezamos sempre o bom atendimento ao nossos clientes.  </p>
                                    <a href="tel:+2835213191" class="btn">Ligue:  (28) 3521-3191</a>
									                                    <a href="intent://send/+5528999405577#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="btn hidden-lg hidden-md" title="Whatsapp"><i class="fa fa-whatsapp"></i></a>

                                    <a href="#" class="btn">Email: sabinofarma@hotmail.com</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>



