<main>
    <section class="well well4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2>
                        Nossa
                        <small>
                            Empresa
                        </small>
                    </h2>

                    <p>
                        Estabelecimento sustentável centrado no atendimento das necessidades dos nossos clientes, da família e da comunidade, por meio da prestação de serviços farmacêuticos e da provisão de medicamentos e outros produtos de saúde, que visem á promoção, recuperação e prevenção da mesma.

                    </p>
                    <br />
                    <p>Orientações básicas para o uso de medicamentos, é uma prática profissional que permite ganhos positivos ao paciente. Nossa equipe devidamente treinada para o atendimento e realização em serviços de educação em saúde, garantindo acesso as informações quando ao uso racional de medicamentos e a diversidade de marcas de cosméticos disponivel no mercado.</p>
                    <br />
                    <p>A qualidade de nosso trabalho no balcão é avaliada pelo acolhimento qualificado, disponibilidade e atenção prestada á sociedade, nossa atitude enquanto profissional de sáude: postura ética, conhecimentos adquiridos sobre os medicamentos e qualidade de vida.</p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2>
                        Nossa
                        <small>
                            Filosofia
                        </small>
                    </h2>
                    <article class='media offs2'>
                        <div class="media-left text-center">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <p>
                                A responsabilidade essencial da Sabino Farma é contribuir para satisfazer a necessidade que tem a sociedade de um tratamento farmacolófico adequado, afetivo e seguro.
                            </p>
                        </div>
                    </article>
                    <article class='media'>
                        <div class="media-left text-center">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <p>
                                É necessario que a equipe treinada se expresse de forma integrada com a população e os outros profissionais de saúde, principalmente na otimização da farmacoterapia e o uso racional de medicamentos.
                            </p>
                        </div>
                    </article>

                    <article class='media'>
                        <div class="media-left text-center">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <p>
                                A ética é aplicada no campo da saúde e bem estar dos pacientes, seus familiares e a comunidade, porque na ação humana "o fazer" e "agir" estão interligados. O fazer diz respeito à competência, á eficiencia que todo profissional deve possuir para exercer bem a sua profissão.
                            </p>
                        </div>
                    </article>
                    <article class='media'>
                        <div class="media-left text-center">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <p>
                                O agir se refere à conduta do profissional, ao conjunto de atitudes que deve assumir no desempenho de sua profissão.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="well well4 bg1 wow fadeIn" data-wow-duration='3s'>
        <div class="container">
            <h2>
                Trabalhamos
                <small>
                    Com:
                </small>
            </h2>
            <div class="row offs3 center767">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail1">

                        <img src="~/Imagens/perfumaria.png" />
                        <div class="caption">
                            <h4>
                                <a href="#">
                                    Perfumaria
                                </a>
                            </h4>
                            <p>
                                Grande variedade de perfumaria, atendendo melhor possivel nosso cliente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail1">
                        <img src="~/Imagens/suplemento.png" />
                        <div class="caption">
                            <h4>
                                <a href="#">
                                    Suplementos
                                </a>
                            </h4>
                            <p>
                                Variedades de suplementos para o agrado dos clientes mais exigentes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail1">

                        <img src="~/Imagens/remedio-2.png" />
                        <div class="caption">
                            <h4>
                                <a href="#">
                                    Medicamentos
                                </a>
                            </h4>
                            <p>
                              Medicamentos genéricos e pelo programa farmácia popular.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail1">

                        <img src="~/Imagens/banheiro.png" />
                        <div class="caption">
                            <h4>
                                <a href="#">
                                    Higiene
                                </a>
                            </h4>
                            <p>
                                Fusce vitae orci nec velit ornare rho
                                ncus ut tempus est. Mauris eu augue lorem. Suspendisse sit ame
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
