
<main>
    <section class="well well4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="wow fadeInLeft " data-wow-duration='1s'>
                        Farmácia
                        <small>
                            Popular
                        </small>
                    </h2>
                    <div class="box">
                        <div class="box-icon">
                            <small class="fa fa-users" aria-hidden="true"></small>
                        </div>
                        <div class="row">
                            <div class="col-md-6 info wow fadeInLeft " data-wow-duration='2s'>
                                <br />
                                <h4 class="text-center">A Drogaria <strong>Sabino farma </strong>está CREDENCIADA NA REDE AQUI TEM FARMÁCIA POPULAR.</h4>
                                <br />
                                <p>
                                    Idealizada pelo Ministério da Saúde e o Governo Federal que oferece aos brasileiros remédios de graça para DIABETES, HIPERTENSÃO e ASMA através do Programa Saúde Não Tem Preço, além de oferecer medicamentos com até 90% de desconto para asma, rinite, colesterol, doença de Parkinson, osteoporose, glaucoma  fraldas geriátricas para pessoas a partir de 60 anos e anticoncepcionais.
                                    <br />
                                    <br />
                                    Só precisa trazer sua receita médica válida da rede pública ou particular, seu CPF e documento com foto. Na<strong> Drogaria Sabino Farma </strong>e no site <a href="www.saude.gov.br/aquitemfarmaciapopular">www.saude.gov.br/aquitemfarmaciapopular</a>, você encontra a lista dos medicamentos e fraldas disponibilizados pelo Programa Aqui Tem Farmácia Popular."
                                </p>
                                <a href="callto:+552835213191" class="btn">Ligue: (28) 3521-3191</a>
                                <a href="intent://send/+5528999405577#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="btn hidden-lg hidden-md" title="Whatsapp"><i class="fa fa-whatsapp"></i></a>
                                <a href="mailto:sabinofarma@hotmail.com" class="btn">Email: sabinofarma@hotmail.com</a>
                            </div>
                            <div style="margin-top:100px;" class="col-md-6 info wow fadeInRight " data-wow-duration='2s'>
                                <img src="~/Imagens/farmacia-popular.jpg" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
