
<main>
    <section class="well well4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2  class="wow fadeInLeft " data-wow-duration='2s'>
                        Medicamentos
                        <small>
                            Genéricos
                        </small>
                    </h2>
                        <div class="box">
                            <div class="box-icon">
                                <small class="fa fa-google" aria-hidden="true"></small>
                            </div>
                            <div class="row">
                                <div class="col-md-6 info wow fadeInLeft " data-wow-duration='5s'>
                                    <br />
                                    <h4 class="text-center">A dROGARIA <strong>sabino farma </strong>trabalha com medicamentos genéricos.</h4>
                                    <br />
                                    <p>
                                        O medicamento genérico é aquele que contém o mesmo fármaco (princípio ativo), na mesma dose e forma farmacêutica, é administrado pela mesma via e com a mesma indicação terapêutica do medicamento de referência no país, apresentando a mesma segurança que o medicamento de referência no país podendo, com este, ser intercambiável.                                        <br />
                                        <br />
                                        A intercambialidade, ou seja, a segura substituição do medicamento de referência pelo seu genérico, é assegurada por testes de bioequivalência apresentados à Agência Nacional de Vigilância Sanitária, do Ministério da Saúde. Essa intercambialidade somente poderá ser realizada pelo farmacêutico responsável, pela farmácia ou drogaria e deverá ser registrada na receita médica.
                                        <br />
                                        <br />
                                        Na embalagem dos genéricos deve estar escrito “Medicamento Genérico” dentro de uma tarja amarela. Além disso, deve constar a Lei nº 9.787/99. Como os genéricos não têm marca, o que você lê na embalagem é o princípio ativo do medicamento. O preço do medicamento genérico é menor, pois os fabricantes de medicamentos genéricos não necessitam fazer investimentos em pesquisas para o seu desenvolvimento, visto que as formulações já estão definidas pelos medicamentos de referência. Outro motivo para os preços reduzidos dos genéricos diz respeito ao marketing. Os seus fabricantes não necessitam fazer propaganda, pois não há marca a ser divulgada.
                                    </p>
                                    <a href="tel:+552835213191" class="btn">Ligue: (28) 3521-3191</a>
                                    <a href="intent://send/+5528999597461#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="btn hidden-lg hidden-md" title="Whatsapp"><i class="fa fa-whatsapp"></i></a>
                                    <a href="mailto:sabinofarma@hotmail.com" class="btn">Email: sabinofarma@hotmail.com</a>
                                </div>
                                <div style="margin-top:140px;" class="col-md-6 info wow fadeInRight " data-wow-duration='5s'>
                                    <img src="~/Imagens/Duvidas-Sobre-Medicamentos-Genericos-6.jpg" />
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>


</main>
