
@{
    ViewBag.Title = "PMN";
}

<main>
    <section class="well well4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="wow fadeInLeft " data-wow-duration='2s'>
                        O PBM
                        <small>
                            (Programa de Benefício em Medicamentos)
                        </small>
                    </h2>
                    <div class="box">
                        <div class="box-icon">
                            <small class="fa fa-heartbeat" aria-hidden="true"></small>
                        </div>
                        <div class="row">
                            <div class="col-md-6 info wow fadeInLeft " data-wow-duration='4s'>

                                <h4 class="text-center">O que é PBM</h4>
                                <br />
                                <p>
                                    O PBM (Programa de Benefício em Medicamentos) é um programa que oferece descontos em mais de 3.000 medicamentos, abrangendo tanto as variedades de marca quanto as genéricas. A lista completa cobre 80% dos tratamentos em nível ambulatorial.

                                    Para comprar medicamentos com desconto PBM é muito simples:
                                    <br />
                                    <br />
                                    Verifique se o medicamento que você procura está na lista de descontos.
                                    <br />
                                    <br />  Com o PBM, além de economizar, você pode comprar medicamentos para toda a família. É rápido, prático e fácil!
                                </p>
                            </div>
                            <div class="col-md-6 info wow fadeInRight " data-wow-duration='4s'>
                                <h4 class="text-center">Vantagens para o Consumidor</h4>
                                <br />
                                <p>Com os descontos encontrados no PBM a população encontra mais condições para acesso aos mais variados tipos de remédios (medicamentos de alto custo e uso contínuo) e consegue prolongar os tratamentos pelo tempo estipulado pelo médico. Dessa forma os tratamentos são seguidos até o final e tornam-se mais eficazes, o que consequentemente diminui a reincidência de doenças e melhora a saúde da população.</p>
                                <a href="tel:+552835213191" class="btn">Ligue: (28) 3521-3191</a>
                                <a href="intent://send/+5528999597461#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="btn hidden-lg hidden-md" title="Whatsapp"><i class="fa fa-whatsapp"></i></a>
                                <a href="mailto:sabinofarma@hotmail.com" class="btn">Email: sabinofarma@hotmail.com</a>
                            </div>
                            <div class="col-md-12 info text-center hover08">
                                <br />
                                <br />
                                <img src="~/Imagens/logos-pbm.png" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




</main>
